{% extends 'base.html' %}

{% block body %}

<div class="mt-5">
  <h1 class="mb-3">{{ user.username }}님의 프로필</h1>
  <table class="table table-hover table-bordered">
    <tbody class="table-group-divider">
      <tr>
        <th class="col-1">이름</th>
        <td class="col-11">{{ user.full_name }}</td>
      </tr>
      <tr>
        <th class="col-1">이메일</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th class="col-1">가입일</th>
        <td></td>{{ other_user.date_joined|date:"y년 m월 d일 f:s" }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <a href="{% url 'accounts:update' user.pk %}" class="btn btn-primary mx-2 mb-5">프로필 수정</a>
    <a href="{% url 'accounts:delete' %}" class="btn btn-danger mx-2 mb-5">계정 탈퇴</a>
  </div>

  <div class="row">
    <div class="col-6">
      <h3>작성한 글</h3>
      <table class="table">
        <thead class="table-hover table-bordered">
          <tr>
            <th class="col-1">번호</th>
            <th class="col-5">제목</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% if user.review_set %}
          <tr>
            <th class="text-muted">작성한 글 개수</th>
            <td class="text-muted">{{ user.review_set.count }} 개의 글을 작성하였습니다.</td>
          </tr>
          {% for article in user.review_set.all %}
          <tr>
            <th>{{ forloop.counter }}</th>
            <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
          </tr>
          {% endfor %}
          {% else %}
          <p class="lead">작성한 글이 없습니다.</p>
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h3>작성한 댓글</h3>
      <table class="table">
        <thead class="table-hover table-bordered">
          <tr>
            <th class="col-1">번호</th>
            <th class="col-5">내용</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% if user.comment_set %}
          <tr>
            <th class="text-muted">작성한 댓글 개수</th>
            <td class="text-muted">{{ user.comment_set.count }} 개의 댓글을 작성하였습니다.</td>
          </tr>
          {% for comment in user.comment_set.all %}
          <tr>
            <th>{{ forloop.counter }}</th>
            <td><a href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a></td>
          </tr>
          {% endfor %}
          {% else %}
          <p class="lead">작성한 댓글이 없습니다.</p>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <a href="{% url 'articles:index' %}" class="btn btn-primary">목록으로</a>
</div>

{% endblock body %}