{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<div class="card">
  <div class="d-flex flex-row-reverse mt-2 mx-2">
    {% if review.user == request.user %}
    <a href="{% url 'articles:delete' review.pk %}" class="btn btn-warning">삭제</a>
    <a href="{% url 'articles:update' review.pk %}" class="btn btn-danger">수정</a>
    {% endif %}
  </div>

  <div class="card-body text-center">
    <h2 class="card-title">{{ review.title }}</h2>
    <!-- 영화 이름 -->
    <h6 class="card-subtitle mb-2 text-muted">{{ review.movie_name }}</h6>
    <!-- 작성자 -->
    <h6 class="card-subtitle mb-2 text-muted">{{ review.user }}</h6>

    {% if review.image %}
    <img src="{{ review.image.url }}" alt="{{ review.image }}" width="400" height="300">
    {% endif %}


    <p class="card-text">{{ review.content }}</p>
    {% if request.user.is_authenticated %}
    <div>
      <form action="" method="POST" class="w-100">
        {% csrf_token %}

        {% bootstrap_form comment_form %}

        {% bootstrap_button "저장" button_type="submit" button_class="btn-primary" %}
      </form>
    </div>
    {% endif %}
  </div>

  <div>
    {% for comment in review.comment_set.all %}
    <hr>
    <div class="d-flex justify-content-between container mb-3">
      <div>
        <span class="fs-2 fw-bold">
        {{ comment.user }}
        </span>
        <br>
        {{ comment.content }}
      </div>

      <div>
        {% if comment.user == request.user %}
        <form action="{% url 'articles:comment_delete' review.pk comment.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_button button_type="submit" content="댓글삭제" %}
        </form>
        {% endif %}
      </div>
    </div>

    {% endfor %}
  </div>


</div>
<a href="{% url 'articles:index' %}"><button type="button" class="btn btn-primary w-100 mt-5">목록으로</button>
  </div>


  {% endblock %}