{% extends 'base.html' %}

{% load static%}

{% block body %}

{% if reviews %}
{% else %}
  <h1> 글이 없습니다. 작성해 주세요.  </h1>
{% endif %}

<div class="row">
  {% for review in reviews %}
  <div class="col-4 my-3">
    <a href="{% url 'articles:detail' review.pk %}" class="text-decoration-none text-black">
      <div class="card shadow p-3 mb-5 bg-body rounded card-hover">
        {% if review.image %}
          <img src="{{ review.thumbnail.url }}" class='w-25'>
        {% else %}
          <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ review.title }}</h5>
          <p> 작성자 : {{ review.user.username }} </p> 
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}