{% extends 'base.html' %}
{% block body %}

{% if reviews %}

{% else %}
  <h1> 글이 없습니다. 작성해 주세요.  </h1>
{% endif %}

{% for review in reviews %}
<div class="m-3">
  <div class="card d-flex w-100 flex-row align-content-center">
    {% if review.image %}
    <img src="{{ review.thumbnail.url }}" class='w-25'>
    {% endif %}
    <div class="card-body">
      <a href="{% url 'articles:detail' review.pk %}">
        <h5 class="card-title">{{ review.title }}</h5>
      </a>

    </div>
  </div>
</div>
{% endfor %}


{% endblock %}