{% extends 'base.html' %}

{% load static%}

{% block body %}

<div class="container index-body pt-5">
  {% if reviews %}
  {% else %}
  <div class="text-center">
    <svg style="width: 5rem; height: 5rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
      fill="currentColor" class="bi bi-emoji-frown animate__animated animate__bounceIn" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path
        d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
    </svg>
    <h1 class="mt-4 mb-2 display-6 animate__animated animate__bounceIn">
      아직 글이 없습니다.
    </h1>
    <p class="lead fs-6 animate__animated animate__bounceIn">첫 글을 작성해보세요!</p>
    <p class="lead fs-6 animate__animated animate__bounceIn hover-animation">
      <a href="{% url 'articles:create' %}">
        <b>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg> 클릭해서 작성하기 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
          </svg></b>
      </a>
    </p>
  </div>
  {% endif %}


  <div class="row">
    {% for review in reviews %}
    <div class="col-4 gx-5">
      <a href="{% url 'articles:detail' review.pk %}" class="text-black">
        <div class="custom-shadow card p-3 mb-5 bg-body rounded card-hover">
          {% if review.image %}
          <img src="{{ review.thumbnail.url }}" class='w-25'>
          {% else %}
          <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <p class="fs-6 text-secondary">{{ review.user.username }} </p>
            <h5 class="card-title">{{ review.title }}</h5>
          </div>

        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}